
.body{
    margin: 0;
    background-color: black;   
    color: white;
    font-family: monospace;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav{    
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.container{
    padding-right: 1rem;
    padding-left: 1rem;
    max-width: 1024px;
    margin: 0 auto;
}

.flexbox {
    display: flex;
}

.flexbox--header{
    align-items: center;
    justify-content: space-between;
}

 /* .g-layout{
    display: grid;
}

 .g-layout--1-1{
    grid-template-columns: 1fr 1fr;
} */

.img{
    display: block;
}

.img--logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.list{
    padding: 0;
    margin: 0;
    list-style: none;
}

.link{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.hero{
    min-height: 100vh;
    background-image: url(../img/fondo_01.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

/* .card{

} */

.card__body{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card__title{    
    margin: 0;
    font-size: 1.75rem;
}

.card__subtitle{
    margin: 0;
    font-size: 1.25rem;
    color: rgb(187, 187, 187);
}

.card_text{
    margin: 0;
}

.d-flex{
    display: flex;
}

.gap-2xs{
    gap: 0.5rem;
}