
.body{
    margin: 0;
    background-color: black;   
    color: white;
    font-family: monospace;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0.125rem 0 white;
}

.nav{    
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.container{
    padding-right: 1rem;
    padding-left: 1rem;
    max-width: 1024px;
    margin: 0 auto;
}

.flexbox {
    display: flex;
}

.flexbox--header{
    align-items: center;
    justify-content: space-between;
}

.flexbox--center{
    align-items: center;
    justify-content: center;
}

 /* .g-layout{
    display: grid;
}

 .g-layout--1-1{
    grid-template-columns: 1fr 1fr;
} */

.img{
    display: block;
}

.img--logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.list{
    padding: 0;
    margin: 0;
    list-style: none;
}

.link{
    text-decoration: none;
    color: rgb(238, 238, 238);
    font-size: 1rem;
}

.hero{
    min-height: 100vh;
    background-image: url(../img/fondo_01.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.card{
    width: min(512px, 100%);
}

.card__body{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.card__title{    
    margin: 0;
    font-size: 1.75rem;
}

.card__subtitle{
    margin: 0;
    font-size: 1.125rem;
    color: rgb(187, 187, 187);
}

.card_text{
    margin: 0;
    font-size: 0.875rem;
}

.button{
    display: inline-block;
    padding: 0.5em 2em;
    /* background-color: rgba(27, 58, 196, 0.781);     */
    /* background-size: 200% auto; */
    border: none;
    border-radius: 1rem;
    /* box-shadow: 0 0 20px #eee; */
    background-image: linear-gradient(to right, #4e0c85b4 0%, #333131 50%, #1a0ec2b6 100%);
    color: white;
    font-family: monospace;
    font-size: 1rem;
    font-weight: 700;
    /* transition: 0.5s; */
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
}

.d-flex{
    display: flex;
}

.f-wrap-wrap{
    flex-wrap: wrap;
}

.gap-2xs{
    gap: 0.5rem;
}